{% extends 'base.html.twig' %}

{% block title %}Hello PublicationController!
{% endblock %}

{% block body %}
	<h3>{{ publications[0].title }}</h3>
	<p>{{ publications[0].contenue }}</p>
{% endblock %}
