.container_idx_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    width: 100%;
    padding: 0;
}

.nav_main_post_publi {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    border-top: 1px rgb(56, 56, 56) solid;
    border-bottom: 1px rgb(56, 56, 56) solid;
    width: 100%;
    height: 2vw;
}

.nav_main_post_publi ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    justify-content: space-around;
    width: 20%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.nav_maiin_post_li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48%;
    height: 100%;
    font-weight: bold;
}

.nav_maiin_post_li a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 25px;
    text-decoration: none;
    width: 100%;
    height: 100%;
    background-color: rgb(37, 37, 37);
}

.idx_wdt {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
}

.publication_contenue_card {
    display: flex;
    height: 15vw;
    margin: 4px;
}


.div_js_idx {
    display: flex;
    position: relative;
    height: 100%;
}

.publication_contenue {
    display: flex;
    height: 100%;
}

.idx_img {
    height: 100%;
}

.idx_info_pbl {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    margin: 10px;
    width: 90%;
}

.idx_info_pbl_hide {
    display: none;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    margin: 10px;
    width: 90%;
}

.idx_info_pbl p {
    color: white;
    margin: 0;
}

.idx_info_pbl a {
    color: rgb(207, 203, 203);
    margin: 0;
    text-decoration: none;
}

.p_card_idx {
    color: white;
    text-decoration: none;
    width: 5vw;
    text-align: center;
    background-color: rgb(39, 33, 33);
    border-radius: 5px;
}