.container_idx_main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    width: 100%;
    padding: 0;
}

.publication_contenue {
    display: flex;
    width: 30%;
    margin: 0 10px 10px 0;
}

.publication_contenue_card {
    display: flex;
    width: 100%;
}

.idx_img {
    width: 100%;
}