nav {
    position: fixed;
    z-index: 2;
    height: 3vw;
    background-color: black;
}

.logo_nav {
    width: 4vw;
    margin-right: 5px;
}

.nav_main_ctn {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 100%;
    border-bottom: 1px rgba(165, 165, 165, 0.504) solid;
}

.nav_h {
    display: flex;
    align-items: center;
    width: 65%;
}

.nav_h h1 {
    margin: 0;
}

.nav_h a {
    font-size: 35px;
    color: white;
    text-decoration: none;
}

.nav_options {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
    width: 25%;
}

.nav_options a {
    margin-left: 10px;
    font-size: 18px;
    color: white;
    text-decoration: none;
}