:root{
    --green-color: rgb(63, 205, 63);
}
.main_prf_ctn {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.main_ctn_profile {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    min-height: 15vw;
    padding-top: 80px;
    width: 90%;
}

.img-ctn {
    display: flex;
    width: 8%;
    padding: 0;
    margin-right: 30px;
}

.profile_img_user {
    display: flex;
    width: 100%;
}

.card_user_profile {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.username_profile {
    font-size: 40px;
    font-weight: bold;
}

.card_user_profile p {
    padding: 0;
    margin: 0 0 10px 0;
    color: white;
}

.nav_profile_ctn {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgb(36, 34, 34);
    margin-bottom: 10px;
}

.nav_wdt {
    display: flex;
    flex-wrap: nowrap;
    width: 90%;
}

.nav_profile_ctn ul {
    display: flex;
    flex-wrap: nowrap;
    width: 60%;
    padding: 0;
}

.nav_li_profile_1,
.nav_li_profile_2,
.nav_li_profile_3,
.nav_li_profile_4,
.nav_li_profile_5,
.nav_li_profile_6 {
    display: flex;
    margin-right: 3vw;
    color: rgb(163, 162, 162);
    font-weight: bold;
    cursor: pointer;
}

.option_profil {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: end;
    width: 35%;
}

.option_profil button,
.option_profil a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 15%;
    height: 80%;
    border: none;
    margin-left: 10px;
    background-color: black;
    color: white;
}

.option_profil p {
    font-weight: bold;
    font-size: 12px;
}

.option_profil button:hover {
    background-color: grey;
    cursor: pointer;
}

.a_prof_cret {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}

.a_prof_bis {
    display: flex;
    width: 90%;
}

.publi_ctn {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
}

.profile_lrg_first {
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
    width: 90%;
    -ms-overflow-style: none;
    padding: 0;
}

.profile_lrg_deux {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
}

.profile_lrg_first::-webkit-scrollbar {
    display: none;
}

.card_prof_wtd {
    display: flex;
    flex-direction: column;
    height: 15vw;
    padding: 0 5px 5px 0;
}

.profile_ctn_main {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 100%;
}

.profile_ctn_main img {
    height: 100%;
}

.profile_info_card {
    display: flex;
    position: absolute;
    flex-direction: column;
    margin: 0 10px 0 10px;
    bottom: 0;
    height: auto;
    color: white;
}

.profile_info_card p {
    height: 20px;
    overflow: hidden;
    cursor: pointer;
}

.profile_info_card a {
    color: white;
    text-decoration: none;
    width: 5vw;
}

.card_public h3 {
    font-size: 25px;
    font-weight: bold;
    margin: 0;
    color: white;
}

.card_public p {
    margin: 0;
    color: white;
}

.card_public a {
    text-decoration: none;
}

.p_card_profile {
    display: flex;
    justify-content: center;
    background-color: rgb(39, 33, 33);
    border-radius: 5px;
    padding-bottom: 5px;
    width: 100%;
}

.post_profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.profile_lrg_quatre{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    display: none;
    width: 100%;
}

.prf_qtr_wtn{
    display: flex;
    flex-direction: column;
    width: 90%;
}

.post_profile_ctn{
    display: flex;
    flex-direction: column;
    background-color: rgb(46, 46, 46);
    width: 30vw;
    min-height: 8vw;
    border: 2px rgba(85, 85, 85, 0.411) solid;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 5px;
}

.post_profile_ctn a{
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    padding-left: 5px;
    color: var(--green-color);
}

.profile_post_ctn{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.post_img_user{
    max-width: 2vw;
}

.profile_lrg_deux,
.profile_lrg_trois,
.profile_lrg_cinque,
.profile_lrg_six {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    display: none;
    width: 100%;
}

.cnq_prof_sx {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
}

.abo_card {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 5px;
    width: 10%;
    height: 9vw;
    padding: 5px;
    background-color: rgb(36, 35, 35);
    border-radius: 5px;
}

.abo_card a {
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.abo_card p {
    margin: 5px 0 0 0;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.img-ctn_abo {
    display: flex;
    height: 80%;
}

.img-ctn_abo img {
    display: flex;
    height: 100%;
    border-radius: 5px;
}