{% extends 'base.html.twig' %}

{% block title %}Hello AboutFormTypeController!{% endblock %}

{% block body %}
    <div class="main_create_publi">
		<div class="form_crt_plb">
            {{ form_start(form_about) }}
            <button type="submit">Créer</button>
            {{ form_end(form_about) }}
        </div>
    </div>
{% endblock %}
